{% extends "website/base.html" %}
{% load static %}

{% block home %}
<main>
    <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body">
                        <img src="{% static 'images/animals.jpg' %}">
                        <br>
                        <h3>Hi, I am Yi Qu</h3>
                        <p>I love coding and artificial intelligence</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body">
                        <p>I learn from those beautiful minds.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock home %}

<!--{% load static %}

<link href="{% static '/css/main.css' %}" rel='stylesheet' type="text/css">

<h1>Hello World</h1>

<img src="{% static 'images/animals.jpg' %}" >
-->

<!--
{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Yi Qu Personal Website</title>
        <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    </head>

    {% include "website/navbar.html" %}

    <body>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body">
                        <img src="{% static 'images/animals.jpg' %}">
                        <br>
                        <h3>Hi, I am Yi Qu</h3>
                        <p>I love coding and artificial intelligence</p>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body"></div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body"></div>
                </div>
                <div class="col-md-6">
                    <div class="card card-body"></div>
                </div>
            </div>
        </div>
    -->    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>

</html>
-->
